.header{
    display: flex;
    justify-content:left;
    background-color: cyan;
    padding: 20px;
}
a, div p{
    margin-left: 10px;    
    margin-right: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:cornsilk
}
.footer{
    display: flex;
    justify-content:center;
    background-color: cyan;
    padding: 20px;
}
a:link{
    color: black;
}
a:visited{
    color: blue;
}
a:hover{
    color: white
}
a:active{
    color: cornflowerblue;
}
.wrapper
{
    border: 2px black solid;
    min-height: 96vh;
    margin: 1vh 1vw 1vh 1vw;
    display: flex;
    flex-direction: column;
}
.content
{
    border: 2px red solid;
    flex: 1;
    display: flex;
}
.left
{
    flex: 2;
    border: 2px purple;
    background-color: yellow;
}
.right
{
    flex: 1;
    border: 2px blue;
    background-color: grey;
}