.container{
    display: flex;
    justify-content:left;
    background-color: cyan;
    padding: 20px;
}

a{
    margin-left: 10px;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

a:link{
    color: black;
}

a:visited{
    color:blue;
}

a:hover{
    color: white;
}

a:active{
    color: cornflowerblue;
}